<h2>Procurar artigos</h2>
<form action='/find' method='Post'>
  <input name='artigo' placeholder='artigo'/>
  <input name='legislacao'placeholder='legislação'/>
  <button type='submit'>Procurar</button>
</form>

<a href ='/'>Voltar</a>
